doctype html
html(lang="cs")
  head
    //- This is just for demo purposes and shouldn't ne indexed    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        

    each css in htmlWebpackPlugin.files.css
      link(href=css, rel='stylesheet')
    
    title Styleguide      
  
  body        
    
    ul.navigation
      each val in ['componentA','componentB']
        li 
          a(href=val+'.html')= val 

    div.content
      block content

    each js in htmlWebpackPlugin.files.js
      script(type='text/javascript', src=js)

      